body, div.tooltip {
	background-color: black;
}
h1 {
	text-align: center;
	color: ghostwhite;
	font-family: sans-serif;
}
#mainContainer {
	text-align: center;
}

/* SVG */
#svgchart {
	background-color: lightblue;
}

path.nation {
	fill: lightyellow; /* country colors: */
	stroke: gray; /* country borders: */
	stroke-width: .5px;
}

circle.meteorite {
	fill: orange;
	fill-opacity: .5;
	stroke: black;
  stroke-width: .5px;
}

#footer {
  color: ghostwhite;
  text-align: center;
}
#footer a{
	color: gold;
}
